@using TodoApp.Data
@using TodoApp.Enums
@model IEnumerable<Note>

@{
    StateTask getState(int state) => state switch {
        0 => StateTask.Activa,
        1 => StateTask.Terminada,
        2 => StateTask.Cancelada,
        3 => StateTask.Eliminada,
        _ => StateTask.Activa
    };

    Func<StateTask, DateTime, string> functionDate = (StateTask state, DateTime date) => {
        string day = date.ToString("dd");
        string month = date.ToString("MM");
        string year = date.ToString("yyyy");
        string hour = date.ToString("hh:mm tt");
        
        return $"{day}/{month}/{year} a las {hour} - {state}";
    };

    var getDetails = functionDate;

    string textModel = "";
}

<link rel="stylesheet" href="~/css/home/notes.css" asp-append-version="true"/>
<link rel="stylesheet" href="~/css/home/modal.css" asp-append-version="true"/>

@foreach (var note in Model) {
    <article class="note">
        <div class="note-description">
            <p class="note-details">@getDetails(getState(note.State), note.Date)</p>
            <p class="note-text">@note.Text</p>
        </div>

        <div class="note-actions">
            <a class="action-btn action-btn-complete @note.Id">
                @if (note.State == 1) {
                    <i class="bi bi-check2-square"></i>
                } else {
                    <i class="bi bi-square"></i>
                }
            </a>

            <a class="action-btn action-btn-edit" 
            asp-action="Edit" asp-controller="" 
            asp-route-noteId="@note.Id">
                <i class="bi bi-pencil"></i>
            </a>

            <a class="action-btn action-btn-delete @note.Id">
                <i class="bi bi-trash"></i>
            </a>
        </div>
    </article>
}

<partial name="_Modal" model="textModel"/>

<script src="~/js/notes/complete.js"></script>
<script src="~/js/notes/delete.js"></script>